<!doctype html>
<html lang="en">
<head th:replace="client/base :: head">
    
</head>
<body>
<th:block  th:replace="client/base :: header">
</th:block>




<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h4 class="h4 mt-4">WELCOME, <span th:utext="${@userService.getUserName()}"></span></h4>
</div>

    <div class="row">
        <div th:if="${password}">
           Your login password in '<span th:text="${password}"></span>'. Please change it As soon as possible.
        </div>
  </div>


<th:block  th:replace="client/base :: footer">
</th:block>
  

</body>
</html>
