<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Client Login</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/signin.css" rel="stylesheet">
    <style>
        body {
            background: url("/assets/images/admin/bgw.jpg");
            /* background-color: black; */
            background-size: 100%;
        }
        
        .form-signin {
            background: rgba(255, 255,255, 0.4);
        }
    </style>
</head>

<body class="text-center">
<form class="form-signin" action="/home/resetpassword" method="post">
    <a href="/"><img class="mb-4" src="/assets/images/logo/WPMSlogo.png" width="190" ></a>
    <h5 class="h5 mb-3 font-weight-normal" style="color:#222">Forgot password? Reset</h5>
    
     <div class="w-100">
           <div class="alert text-danger" role="alert" th:if="${updatepassword_errors}" th:text="${updatepassword_errors}"> 
</div> 
 
 
<div class="alert  text-info" role="alert"  th:if="${updatepassword_success}" th:text="${updatepassword_success}">  
</div>
            </div>
    
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="username" name="username" class="form-control" placeholder="Email Address" required autofocus>

    <label for="inputPassword" class="sr-only">New Password</label>
    <input type="password" id="newpassword" name="newpassword" class="form-control" placeholder="New Password" required>
     
    <input type="password" id="confirmpassword" name="confirmpassword" class="form-control" placeholder="Confirm Password" required>

    <button class="btn btn-md btn-danger btn-block" type="submit" name="reset">Reset</button>
     
    <a class="float-right h6 mt-4" href="/home/client-login">Login</a>
    <p class="mt-5 mb-3 text-muted">&copy;2025</p>
</form> 
<script>
    $('.your-checkbox').prop('indeterminate', true);
</script>
</body>
</html>
