<!doctype html>
<html lang="en">
<head th:replace="client/base :: head">
    
</head>
<body>
<th:block  th:replace="client/base :: header">
</th:block>
 <div class="container">
        <div class="row">
            <div class="col-md-12">
			
			<div class="card card-info">
<h3 class="heading">
       My Profile
</h3>
<div class="card-body">
 
  <div class="alert alert-info" role="alert"  th:if="${success}" th:text="${success}">  
  </div>
  <div class="alert alert-danger" role="alert"  th:if="${error}" th:text="${error}">  
</div>  
                            <form name="signup" id="peditfrm" method="post" action="/client/updateprofile"   enctype="multipart/form-data">

 <div class="row">
 <div class="col-md-6">
 <div class="d-flex text-center justify-content-center">
 <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0 col-md-6">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2 w-100" id="profileimgsrc" th:src="${'/home/viewprofileimg/'+id}" alt="">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 500kb</div>
                    <!-- Profile picture upload button-->
                     <span class="d-none">
                    <input type="file" accept="image/*" id="profileimg" name="profileimg">
                    </span>
                    <button class="btn btn-primary" type="button" onclick="$('#profileimg').click()">Upload new image</button>
                </div>
                </div>
            </div>
            </div>
             <div class="col-md-6">
<div class="form-group">
<label>Profile Status : </label>
<th:block th:if="${status}">
<span style="color: green">Active</span>
</th:block>
<th:block th:unless="${status}">
<span style="color: red">Blocked</span>
<?php }?>
</th:block>
</div>

 <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" th:value="${firstname}" class="form-control" name="firstname" placeholder="First Name" id="firstname">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" th:value="${lastname}" id="lastname" class="form-control" name="lastname" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" disabled  th:value="${email}"class="form-control" name="email" id="email" placeholder="youremailaddress@mail.com">
                        </div>
                        <div class="form-group">
                            <input type="text" th:value="${mobile}"  aria-describedby="phoneHelpBlock" class="form-control" name="mobile" id="mobile" placeholder="Contact Number">
                        </div>
                              
<button type="submit" name="update" class="btn btn-primary" id="submit">Update Now </button>
</div>
</div>
                                    </form>
                            </div>
                        </div>
                            </div>
        </div> </div>
 
<th:block  th:replace="client/base :: footer">
</th:block>
   <script>
   $('input[name=firstname],input[name=lastname]').on('keypress',function(event){
		 return validatealpha(event);		 
	 });  


$('input[name=mobile]').on('keypress',function(event){
	 return validatemobile(event);		 
});	
   $('#profileimg').change(function(){
	   if (this.files && this.files[0]) {
	        var reader = new FileReader();
            if(this.files[0].size<=512000)
            	{
	        reader.onload = function (e) {
	            $('#profileimgsrc').attr('src', e.target.result);
	        }

	        reader.readAsDataURL(this.files[0]);
	    }
            else
            	{
            	this.files=null;
            	alert("File size should be below 500kb");
	   }
	   }
	   
   });
   </script>
   
</body>
</html>