<!doctype html>
<html lang="en">
<head th:replace="admin/base :: head">
    
</head>
<body>
<th:block  th:replace="admin/base :: header">
</th:block>

 
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h6 class="h4 mt-4 ml-3">Clients</h6>
    <div class="btn-toolbar mb-md-0">
        <div class="btn-group mr-2">
            <a class="btn btn-md btn-success" style="font-size: 12px;" href="/admin/usersadd/1"><i class="mdi mdi-account-plus mr-2"></i> Add New Client</a>
        </div>
    </div>
</div>
 <span   th:if="${session.message}" th:utext="${#ctx.httpSession.message}"></span>
<table id="example" class="table table-striped table-bordered table-hover table-sm" cellspacing="0" width="100%" style="background: white;padding: 0 5px;">

    <thead>
        <tr>
            <th>Name</th> 
            <th>Email</th> 
            <th>Contact</th> 
            <th>Registration Date</th>
            <th>Actions</th>
        </tr>
    </thead>
     
    <tbody> 
        <tr th:each="c:${clients}"  th:class="${c.status==1?'active':'inactive'}">
            <td th:text="${c.firstname+' '+c.lastname}"></td>
            <td th:text="${c.email}"></td>
            <td th:text="${c.mobile}"></td>
            <td th:text="${c.creationtime}"></td>
             
            <td>
 
    <a th:href="${'/admin/usersedit/'+c.id+'/1'}" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="
                    Edit This User"><i class="mdi mdi-pencil"></i></a>
                <a th:href="${'/admin/clientbookings/'+c.id+'/1'}" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="
                   Bookings"><i class="mdi mdi-eye"></i></a>
              
            </td>
        </tr>
 
</tbody>
</table>



<th:block  th:replace="admin/base :: footer">
</th:block>
   <script>
  
    $(document).ready(function() {
        $('#example').DataTable(); 
    });

    
    
</script>

</body>
</html>
