<!doctype html>
<html lang="en">
<head th:replace="admin/base :: head">
    
</head>
<body>
<th:block  th:replace="admin/base :: header">
</th:block>

  <div class="container">

        <div class="row">

            <div class="col-lg-8 offset-2 pl-3 pb-3 box-shadow mt-4">
            
                <form method="post" data-return="/admin/packages" class="ajaxfrm" action="/admin/subcategories" enctype="multipart/form-data">
                <input type="hidden" name="action" value="edit">
   <input type="hidden" name="id" th:value="${package.id}">
                    <h4 class="h4 mt-4 pb-2" style="border-bottom: 1px solid #dee2e6!important;">Edit Package</h4>

                     
                    <div class="form-group">
                        <label for="category">Package Category</label>
                        <select class="form-control" name="category" required>
                            <option th:each="c:${categories}" th:value="${c.id}" th:text="${c.name}" th:selected="${c.id==package.category}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="title">Package Title</label>
                        <input type="text" name="title" th:value="${package.name}" class="form-control" id="title"  placeholder="Enter package name" required>
                    </div>
                   
                    <div class="form-group">
                        <label for="price">Price Of This Package(INR)</label>
                        <input type="number" min=100 name="price" th:value="${package.price}" class="form-control" id="price"  placeholder="Enter the price"  required>
                    </div>

                    <div class="form-group">
                        <label for="preview_image">Features</label>
                        <div class="row">
                          <th:block th:each="f:${features}">
                             <div class="col-md-4">  <input class="mr-1 mt-2" type="checkbox" name="features[]" th:value="${f.id}" th:checked="${#arrays.contains(packfeatures, f.id)}"><span th:text="${f.name}"></span> </div>
                          </th:block>
                        </div>
                   </div>
                   
                    <div class="form-group">
                        <img th:src="${'/home/viewpackageimg/'+package.id}" class="w-25"/>
                        <label for="preview_image">Preview Image</label>
                        <input type="file" name="img" >
                   </div>
                        <div class="form-group">
                        <label for="price">Status</label>
                          <select class="form-control" name="status" required>
                            <option    value="0"  th:selected="${0==package.status}">Inactive</option>
                            <option    value="1"  th:selected="${1==package.status}">Actice</option>
                        </select>
                      </div>
                         <div class="msg msg-success text-success d-none"></div>
                            <div class="msg msg-error text-danger d-none"></div>
                   
                        <button type="submit" name="submit" class="btn btn-sm btn-success float-right mr-2" style="font-size: 12px;">Save</button>
                </form><!-- end of input form -->
            </div>
        </div>
    </div>
 

<th:block  th:replace="admin/base :: footer">
</th:block>
  

</body>
</html>
