<!doctype html>
<html lang="en">
<head th:replace="admin/base :: head">
    
</head>
<body>
<th:block  th:replace="admin/base :: header">
</th:block>
   <div class="container">
    
        <div class="row">

            <div class="col-lg-8 offset-2 pl-3 pb-3 box-shadow mt-4 pt-3">
                <h5>Edit Image</h5>
                
                <form method="post" action="/admin/galleries" class="ajaxfrm" data-return="/admin/photosview" enctype="multipart/form-data">
                      <input type="hidden" name="action" value="edit">
                          <input type="hidden" name="id" th:value="${photo.id}">
                    <div class="form-group">
                        <label for="booking_id">Related:</label>
                        <select class="custom-select form-control" id="booking" name="booking" required> 
                              <option value="0" th:selected="${photo.relate==0}">NA</option>
                              <option th:each="b:${bookings}" th:value="${b.id}" th:text="${b.title}"  th:selected="${photo.relate==b.id}"></option>
                        </select>
                    </div>
                   <div class="form-group">
                       <label for="">Title:</label>
                       <input type="text" name="title" class="form-control" th:value="${photo.title}" placeholder="Enter title" required>
                   </div>
                   <div class="form-group">
                       <label for="">Caption:</label>
                       <input type="text" name="caption" value="" class="form-control"  th:value="${photo.caption}"  placeholder="Enter caption">
                   </div>
                    <div class="form-group">
                       <label for="">Alternate Text:</label>
                       <input type="text" name="alternatetext" value="" class="form-control"  th:value="${photo.alternatetext}"  placeholder="Enter text" required>
                   </div>
                   <div class="form-group">
                       <textarea name="description" rows="10" class="form-control" placeholder="Enter a description" th:text="${photo.description}" ></textarea>
                   </div>
                   <div class="form-group">
                    <img th:src="${'/home/viewgalleryimg/'+photo.id}" class="w-25"/>
                       <input type="file" name="img"  >
                   </div>
                   
                         <div class="msg msg-success text-success d-none"></div>
                            <div class="msg msg-error text-danger d-none"></div>
                   <button type="submit" name="submit" value="" class="btn btn-success btn-sm">Save image</button>
                   <a href="/admin/photosview" class="btn btn-danger btn-sm">Go Back</a>
                </form><!-- end of input form -->
 
            </div>
        </div>
    </div>



 

<th:block  th:replace="admin/base :: footer">
</th:block>
  

</body>
</html>
