<!doctype html>
<html lang="en">
<head th:replace="base :: head">
    
</head>
<body>
<th:block  th:replace="base :: header">
</th:block>

 <div class="container">
    <div class="row">
     <div class="col-lg-12">
            <h3 class="text-center mb-3">ABOUT US</h3>
            <div class="bg-white p-4">
        <p>
         Event planner who brings a team of trusted and professional staff. We provide the best event planning services to create an event memerizingly. Further, with years of experience in the  industry, we have become one of the best evnet planners in most of indian cities.
         </p>
         <p>
         Importantly, we always go for elegant decoration, that adds a touch of luxury to the wedding. Because we understand the emotional count of the bride and groom’s feelings. That’s why we, Vision Vivah offer flawless services to make your day splendid and memorable.

The specialties that set us apart
<ul>
<li>Professional team</li>
<li>Trusted staff</li>
<li>Best wedding services</li>
<li>Highly cost-effective services</li>
<li>Strong network</li>
</ul>
         </p>
         </div>
         </div>
        </div>
    </div>    
<th:block  th:replace="base :: footer">
</th:block>
 
</body>
</html>