<!doctype html>
<html lang="en">
<head th:replace="base :: head">
    
</head>
<body class="home">
<th:block  th:replace="base :: header">
</th:block>
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="hero">
            <div class="row justify-content-md-center">
                <div class="col col-lg-3">
                </div>
                <div class="col col-lg-5" style="margin-top: 10%;">
                    <span   th:if="${session.message}" th:utext="${#ctx.httpSession.message}"></span>
                     
                    <form class="bgact ajaxfrm" data-return="/client/dashboard" action="/home/registerdb" method="post">
                    <h2 class="text-center hero-lead">Planning Starts Here</h2>
                    <p class="lead text-center" style="color:white;">START BY FILLING UP THE FORM</p>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="firstname" placeholder="First Name" id="firstname">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" id="lastname" class="form-control" name="lastname" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="youremailaddress@mail.com">
                        </div>
                        <div class="form-group">
                            <input type="text" aria-describedby="phoneHelpBlock" class="form-control" name="mobile" id="mobile" placeholder="Contact Number">
                        </div>
                       
                        <div class="text-center mt-3">
                            <p style="font-size: 11px;color:white;">By clicking "Sign Up" you agree to   <a
                                        href="" title="" style="color: #b81717;font-weight: bold;">Terms of Use</a></p>
                            <button type="submit" name="register" class="btn btn-danger btn-sm text-uppercase fb"
                                    style="margin-top: -5px;">Sign Up
                            </button>
                        </div>
                        
                         <div class="msg msg-success text-success d-none"></div>
                            <div class="msg msg-error text-danger d-none"></div>
                    </form>
                </div>
                <div class="col col-lg-3">
                </div>
            </div>
        </div><!-- end of hero -->
    </div> <!-- end of row justify-content-md-center -->
</div><!-- end of container-fluid  -->

<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-lg-12">
      
            <hr>
            <h2 class="h2 text-uppercase text-center mb-4">Our   Packages</h2>
 
                <div class="pricing mb-5" th:each="c,iter:${categories}" th:if="${iter.index<=3}">
                    <ul class="list-group list-unstyled">
                        <li class="list-group-item text-center text-uppercase" th:text="${c.category+' - '+c.name}"></li>
                        <li><img th:src="${'/home/viewpackageimg/'+c.id}" class="img-fluid" alt=""></li>
                        <li class="list-group-item text-center"><b>THIS PACKAGE INCLUDES:</b></li>
                        
                                <li class="list-group-item" th:each="f,iter1:${c.features}" th:if="${iter1.index<=2}" th:text="${f.name}"></li>
                                <li class="List-group-item text-center">More....</li>
                             
                        <li class="list-group-item font-weight-bold">Price: <span class="amount" th:text="${c.price}"></span>
                         </li>
                        <li class="list-group-item font-weight-bold">
                            <a th:href="${'/home/packagedetail/'+c.id}" class="btn btn-custom">View Details</a>
                        </li>
                    </ul>
                </div> 
                <div class="pricing d-flex justify-content-center  align-items-center bg-primary">
                   <a  class="h4 text-white " href="/home/pricing">More Packages >></a>
                </div>
        </div><!-- end of col-lg-12 -->
    </div><!-- end of row -->
</div><!-- end of container-fluid -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="h2 text-uppercase text-center mb-3">THE LATEST INSPIRATION</h2>
            <h6 class="h6 text-uppercase text-center text-muted mb-3">Discover the best ideas, tips and articles to
                inspire
                your wedding.</h6>

            <div class="card-columns">
 
                   <div class="card" th:each="b:${posts}">
                    <img class="card-img-top" th:src="${'/home/viewpostimg/'+b.id}" alt="Card image cap">
                        <div class="card-body">
                            <a th:href="${'home/postdetails/'+b.id}" class="btn-stamp">
                                <h6 class="card-title mt-0 mb-0 text-center font-weight-bold font-custom text-uppercase" th:utext="${b.title}"></h6>
                                <p class="card-text mt-0 mb-0 text-center color_gray" th:text="${b.subcategory+' '+b.category}"></p>
                                <p class="card-text mt-0 mb-0 text-center color_light text-capitalize"><i class="mdi mdi-map-marker"></i>
                                    <span th:text="${b.location}"></span></p>
                            </a>
                        </div>
                    </div> 
               

                <a href="/home/real-posts" class="btn btn-lg btn-block btn-explore">EXPLORE MORE INSPIRATION</a>
            </div>
        </div><!-- end of col-lg-12 -->
    </div><!-- end of row -->
</div><!-- end of container -->


<div class="container-fluid" style="width: 100%;background: white;margin-top: 50px;padding-bottom: 20px;">
    <div class="row">
        <div class="col-lg-6">
            <div class="row img-control">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <img src="/assets/DESIGN/checklist-ea253352239433deb24f2ed8ae110aac1840ff8fa5df43967027e880b5f5385b.svg"
                         alt="">
                    <div class="font-custom">CheckList</div>
                </div>
                <div class="col-md-2">
                    <img src="/assets/DESIGN/seating-chart-084bbdaabe84a638edf344224d7a92b1bc792db53c5fcf7ab16fcd5a6109ff79.svg"
                         alt="">
                    <div class="font-custom">Seating Chart</div>
                </div>
                <div class="col-md-2">
                    <img src="/assets/DESIGN/guest-list-eaaf9277c60be7449e41e2f72f358ae3c94c1b31726b894e064498a9536cac9a.svg"
                         alt="">
                    <div class="font-custom">Guess List</div>
                </div>
                <div class="col-md-2">
                    <img src="/assets/DESIGN/budget-6eca6d3898f15dd5682ce3664d8d9ff9bdd271db03857ba8a99e90b9181db46c.svg"
                         alt="">
                    <div class="font-custom">Budget</div>
                </div>
                <div class="col-md-2">
                    <img src="/assets/DESIGN/vendor-manager-102fbe8fdbab3e176a6d29bd05c6f26dcd35cfa0f55ff50b1bfd9e70c8fdcdda.svg"
                         alt="">
                    <div class="font-custom">Vendor Manager</div>
                </div>

            </div>
                <h1 class="h1 text-center mt-4">Take the Stress Out of Planning</h1>
                <p class="lead text-muted text-center ml-5" style="font-size: 14px;">Check things off your personalized to-do list all the way to your big day!</p>
        </div>
        <div class="col-lg-6">
            <div class="feature">
                <ul class="list-group rounded-0">
                    <li class="list-group-item rounded-0 d-flex justify-content-between align-items-center ">Announcement your engagement
                        <span class="badge badge-pill" style="font-size: 12px;font-weight: bold;color:#888;">OverDue <i class="mdi mdi-checkbox-blank-outline ml-3" ></i></span>
                    </li>
                    <li class="list-group-item rounded-0 d-flex justify-content-between align-items-center">Plan your engagement party
                        <span class="badge badge-pill" style="font-size: 12px;color:#888">Today <i class="mdi mdi-checkbox-blank-outline ml-3"></i></span>
                    </li>
                    <li class="list-group-item rounded-0 d-flex justify-content-between align-items-center">Schedule an engagement photo shoot
                        <span class="badge badge-pill" style="font-size: 12px;color:#888">Tomorrow <i class="mdi mdi-checkbox-blank-outline ml-3"></i></span>
                    </li>
                    <li class="list-group-item rounded-0 d-flex justify-content-between align-items-center">Set up your registry
                        <span class="badge badge-pill" style="font-size: 12px;color:#888">May 15 <i class="mdi mdi-checkbox-blank-outline ml-3"></i></span>
                    </li>
                    <li class="list-group-item rounded-0 d-flex justify-content-between align-items-center">Start your guest list
                        <span class="badge badge-pill" style="font-size: 12px;color:#888">Today <i class="mdi mdi-checkbox-blank-outline ml-3"></i></span>
                    </li>
                    <li class="list-group-item rounded-0 d-flex justify-content-between align-items-center">Decide on your wedding
                        <span class="badge badge-pill" style="font-size: 12px;color:#888">June 10 <i class="mdi mdi-checkbox-blank-outline ml-3"></i></span>
                    </li>
                    <li class="list-group-item rounded-0 d-flex justify-content-between align-items-center">Select your wedding date
                        <span class="badge badge-pill" style="font-size: 12px;color:#888">June 20 <i class="mdi mdi-checkbox-blank-outline ml-3"></i></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<th:block  th:replace="base :: footer">
</th:block>
 <script>
   $('input[name=firstname],input[name=lastname]').on('keypress',function(event){
		 return validatealpha(event);		 
	 });  


$('input[name=mobile]').on('keypress',function(event){
	 return validatemobile(event);		 
});	
</script>
</body>
</html>