<!doctype html>
<html lang="en">
<head th:replace="base :: head">
    
</head>
<body>
<th:block  th:replace="base :: header">
</th:block>

<div class="container">

    <div class="row">

        <div class="col-md-12 p-0" style="margin-bottom: 20px;"> <!-- border:1px solid rgba(0,0,0,.125) -->
            <h3 class="h5 text-uppercase text-center text-muted mt-4"  th:text="${post.category}"></h3>
            <h2 class="h2 text-uppercase text-center mb-4"  th:text="${post.subcategory}"></h2>
            <div class="text-center">
                <img th:src="${'/home/viewpostimg/'+post.id}" class="img-fluid rounded-circle" style="width:270px;height:250px;" alt="">
            </div>
            <h5 class="h5 text-uppercase text-center mt-3" th:utext="${post.title}"></h5>
            <div class="font-weight-light text-center mb-3" style="font-size:16px;" th:utext="${post.location}"></div>
            <p class="text-center" th:utext="${post.description}"; ?></p>

        </div><!-- end of col-md-8 p-0 pl-3 -->
    </div>
</div><!-- end of container -->



<th:block  th:replace="base :: footer">
</th:block>
 
</body>
</html>