<!doctype html>
<html lang="en">
<head th:replace="subadmin/base :: head">
    
</head>
<body>
<th:block  th:replace="subadmin/base :: header">
</th:block>
         <div class="container">

        <div class="row">

            <div class="col-lg-8 offset-2 pl-3 pb-3 box-shadow mt-4">
            
 
<div class="panel panel-info">
<div class="panel-heading h3">
Change Password
</div>
<div class="panel-body">
<form role="form" method="post"   name="chngpwd" action="/subadmin/updatepassword" >

<div class="form-group">
<label>Current Password</label>
<input class="form-control" type="password" name="password" autocomplete="off" required  />
</div>

<div class="form-group">
<label>Enter Password</label>
<input class="form-control" type="password" name="newpassword" autocomplete="off" required  />
</div>

<div class="form-group">
<label>Confirm Password </label>
<input class="form-control"  type="password" name="confirmpassword" autocomplete="off" required  />
</div>

 <button type="submit" name="change" class="btn btn-primary">Change </button> 
</form>
  
<div class="msg text-danger" role="alert" th:if="${updatepassword_errors}" th:text="${updatepassword_errors}"> 
</div> 
 
 
<div class="msg  text-info" role="alert"  th:if="${updatepassword_success}" th:text="${updatepassword_success}">  
</div>
 </div>
</div>
</div>
</div>
</div>  
<!---LOGIN PABNEL END-->            
             
  
    
<th:block  th:replace="subadmin/base :: footer">
</th:block>
</body>
</html>